<ion-view view-title="Postos" cache-view="false">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="toAddPage()">
      Adicionar Posto
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <!-- <h2>Cadastro de postos !</h2> -->


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="posto in postos" type="item-text-wrap" href="#/tab/postos/{{posto.id}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{posto.name}}</h2>
        <p>{{posto.bandeira}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
