<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Cadastrar Postos -->
  <ion-tab title="Cadastrar Postos" icon-off="ion-ios-download-outline" icon-on="ion-ios-download-outline" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Listar todos -->
  <ion-tab title="Listar Postos" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/postos">
    <ion-nav-view name="tab-postos"></ion-nav-view>
  </ion-tab>

    <!-- Precos -->
  <ion-tab title="Inserir Preços" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator-outline" href="#/tab/precos">
    <ion-nav-view name="tab-precos"></ion-nav-view>
  </ion-tab>

  <!-- Maps -->
  <ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/tab/cadastro">
    <ion-nav-view name="tab-cadastro"></ion-nav-view>
  </ion-tab>

</ion-tabs>
